<table>
    <tbody>
      <tr *ngFor="let womenItem of womenItems">
        <td>
          <div>
            <tr><img src="{{ womenItem.image }}"></tr>
            <tr id="tr1">{{ womenItem.item }}</tr>
          </div>
         
        </td>
        <td>
          <select id="size" name="size">
          <option value="XS">XS</option>
          <option value="S">S</option>
          <option value="M">M</option>
          <option value="L">L</option>
          </select>
        </td>
        <td>
          <!-- <input appHighlight [setTextBorder]="'2px solid gray'" type="number" (keyup)="onKeyUp($event)" [(ngModel)]="quantity"> -->
          <input (keyup)="onKeyUp($event)" [(ngModel)]="quantity">
        </td>
        <td>
            {{ womenItem.price }}
        </td>
        <td>
            {{ totalPrice }}
        </td>
        <td>
          <button>Add to Cart</button>
        </td>
      </tr>
    </tbody>
</table>
