<table>
    <thead>
        <tr>
            <th>Item</th>
            <th>Size</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total Price</th>
            <th>Final</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let womenItem of womenItems">
        <td>
          <img src="{{ womenItem.image }}">
          {{ womenItem.item }}
        </td>
        <td>
          <select id="size" name="size">
          <option value="XS">XS</option>
          <option value="S">S</option>
          <option value="M">M</option>
          <option value="L">L</option>
          </select>
        </td>
        <td>
          <input type="number">
        </td>
        <td>
            {{ womenItem.price }}
        </td>
        <td>
            total
        </td>
        <td>
          <button>Add to Cart</button>
        </td>
      </tr>

      <!-- <tr>
        <td>
          item</td>
        <td><select id="size" name="size">
          <option value="XS">XS</option>
          <option value="S">S</option>
          <option value="M">M</option>
          <option value="L">L</option>
          </select></td> 
        <td><input type="number"></td>
        <td>price</td>
        <td>total</td>
        <td><button>Add to Cart</button></td>
      </tr> -->
    </tbody>
</table>
