
    <label for="fname">First name:</label><br>
    <input type="text" [(ngModel)]="firstName"><br>
    <label for="lname">Last name:</label><br>
    <input type="text" [(ngModel)]="lastName"><br>
    <label for="lname">Street Address:</label><br>
    <input type="text" [(ngModel)]="streetAddress"><br>
    <label for="lname">City:</label><br>
    <input type="text" [(ngModel)]="city"><br>
    <label for="lname">ZipCode:</label><br>
    <input type="number" [(ngModel)]="zipCode"><br>
    <label for="phone">Phone number:</label><br>
    <input type="number" [(ngModel)]="phoneNumber"><br>
    <button>Submit</button>
    <h3>Address</h3>
    <p>{{firstName}}</p>
    <p>{{lastName}}</p>
    <p>{{streetAddress}}</p>
    <p>{{city}}</p>
    <p>{{zipCode}}</p>
    <p>{{phoneNumber}}</p>