<div class="row">
    <div class="column">
      <img src="{{ womenItem.image }}"
      style="max-height: 250px;">
      <label id="id1">{{ womenItem.item }}</label>
    </div>
    <div class="column">
      <h5 style="padding: 60px;">{{ womenItem.price }}</h5>
    </div>
    <div class="column"> 
      <select>
        <option *ngFor="let size of getSize(womenItem.item)">{{ size }}</option>
      </select>
    </div>
    <div class="column">
      <h6>Qty</h6>
      <input type="number" min=1 max=10 (click)="onClick($event)">
    </div>
    <div class="column">
      {{ womenItem.total }}
    </div>
    <div class="column">
      <button (click)="onAddToBagClicked()">Add to Bag</button>
    </div>
</div>