<!-- Image header -->


<div class="row" *ngFor="let item of menItems">
    <div class="column">
        <img [src]="item.imgPath" 
            class="clearfix"
            style="max-height: 300px;">
    </div>
    <div class="column">
        <h3 style="column-count: 3;" style="float: right;">{{ item.name }}</h3>
    </div>
    <div class="column">
        <h5 style="column-count: 3;" style="float: right;">{{ item.price }}</h5>
    </div>
    <div class="column">
        <h5>Qty</h5>
        <input type="number" min="1" max="10" value="7">
    </div>
    <div class="column">
        <div style="width: 200%;">
            <select>
              <option value="0">Size</option>
              <option value="1">XS</option>
              <option value="2">S</option>
              <option value="3">M</option>
              <option value="4">L</option>
              <option value="5">XL</option>
              <option value="6">XXL</option>
            </select>
          </div>
    </div>
    <!-- <div class="column">
        <button>Add to Cart</button>
    </div> -->
</div>