<p>women works!
fd
sf
sdf
sdf
sdfsdf

sdf
dsf
sdf
sdf
sdf
dsf
sdfsd
fsdfsss
  -MacBook-Pro:trending-drezzes johnbabujames$ ng g c navbar
  CREATE src/app/navbar/navbar.component.css (0 bytes)
  CREATE src/app/navbar/navbar.component.html (21 bytes)
  CREATE src/app/navbar/navbar.component.spec.ts (628 bytes)
  CREATE src/app/navbar/navbar.component.ts (275 bytes)
  UPDATE src/app/app.module.ts (861 bytes)
  Johns-MacBook-Pro:trending-drezzes johnbabujames$ ng g c home
  CREATE src/app/home/home.component.css (0 bytes)
  CREATE src/app/home/home.component.html (19 bytes)
  CREATE src/app/home/home.component.spec.ts (614 bytes)
  CREATE src/app/home/home.component.ts (267 bytes)
  UPDATE src/app/app.module.ts (935 bytes)
  Johns-MacBook-Pro:trending-drezzes johnbabujames$

  sdf</p>
